body {
  margin: 0;
  padding: 0;
}

.login_container {
  width: 100%;
  height: 89vh;
  background-image: url(./smile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-color: #0077b6;
  margin: auto;
  display: flex;
}

.login {
  width: 55%;
  height: 30em;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row-reverse;
  align-items: center;
}

.image {
  width: 40%;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  padding: 2em;
  border-radius: 7em;
}

.regform {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
}

.l_form {
  width: 90%;
  height: 90%;
  background-color: white;
  box-sizing: border-box;
  border-radius: 1em;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  -webkit-box-shadow: -6px 5px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -6px 5px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -6px 5px 9px 0px rgba(0, 0, 0, 0.75);
   border: 0.5px solid black;
}

.linker {
    text-align: center;
}

.signup {
  display: flex;
  justify-content: space-around;
  width: 40%;
  height: 10%;
  align-items: center;
}

.signup a {
  font-size: 1rem;
  padding: 0.5em 1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  border: 1px solid white;
  cursor: pointer;
  background-color: white;
  color: #023e8a;
  display: block;
  text-decoration: none;
}

.signup a:hover {
  background-color: #023e8a;
  color: white;
}

.inputform {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  padding: 0.5em;
}

.loginbtn {
  padding: 0.5em;
  width: 40%;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  border: 1px solid #023e8a;
  cursor: pointer;
  background-color: #023e8a;
  color: white;
  margin: 0 auto;
}

.loginbtn:hover {
  background-color:white;
  color: #023e8a;
}

.forgot {
  font-size: 0.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
  border: 1px solid white;
  cursor: pointer;
  background-color: white;
  color: #023e8a;
  margin: 0 auto;
}
.form .userbox {
  padding: 0.3em;
}

.form .userbox label {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #023e8a;
}

.form .userbox input {
  width: 80%;
  font-size: 1rem;
  padding: 0.5em;
  background-color: none;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
}

.form .userbox input:focus {
  outline: 2px solid #0077b6;
}
.userbox {
  display: flex;
  flex-direction: column;
}

.form .mailbox {
  padding: 0.3em;
}

.form .mailbox label {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #023e8a;
}

.form .mailbox input {
  width: 80%;
  font-size: 1rem;
  padding: 0.5em;
  background-color: none;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form .mailbox input:focus {
  outline: 2px solid #0077b6;
}
.mailbox {
  display: flex;
  flex-direction: column;
}

.remember {
  display: flex;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  font-size: 1.02rem;
}
